<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="CKN Sneakers pentru cei mai fresh sneakersi">
        <meta name="keywords" content="adidasi, incaltaminte, incaltaminte sport, sneakers">
        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
        <title>CKN SNEAKERS - home</title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src=/resurse/js/produse.js></script>

    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <div class="form-floating mb-3">
            <input class="form-control" type="text" id="inp-nume">
            <label > Nume: </label>
          </div>
        <!--<label> Maxim calorii: <input type="number" id="inp-calorii" value="10000"></label>-->
        <div>
            Greutate:
            <p>
              <label class="btn btn-outline-secondary" for="i_rad1">
                <input type="radio" class="btn-check" id="i_rad1" name="gr_rad" value="0:500" autocomplete="off">
                Scazuta (greutate &lt; 500)
              </label>
            </p>
            <p>
              <label class="btn btn-outline-secondary" for="i_rad2">
                <input type="radio" class="btn-check" id="i_rad2" name="gr_rad" value="500:700" autocomplete="off">
                Medie (500 &le; greutate &lt; 700)
              </label>
            </p>
            <p>
              <label class="btn btn-outline-secondary" for="i_rad3">
                <input type="radio" class="btn-check" id="i_rad3" name="gr_rad" value="700:1000000000" autocomplete="off">
                Ridicata (700 &le; greutate)
              </label>
            </p>
            <p>
              <label class="btn btn-outline-secondary" for="i_rad4">
                <input type="radio" class="btn-check" id="i_rad4" name="gr_rad" value="toate" autocomplete="off" checked="true">
                Toate
              </label>
            </p>
          </div>
        

        <label> Pret minim: <input type="range" class="form-range" id="inp-pret" value="0" min="0"  max="3500" ><span id="infoRange">(0)</span></label>
        <label>Select simplu gen:
            <select  class="form-select" id="inp-gen_produs">
                <option id="sel-toate" selected value="toate">toate</option>
                <% for (let opt of locals.optiuni) { %>
                    <option value="<%- opt.unnest %>"><%- opt.unnest %> </option>
                <% } %>
            </select>
        </label>
        <label>Select multiplu pentru marimi:
            <select class="form-select" id="inp-marimi" multiple>
                <option value="36">36</option>
                <option value="37">37</option>
                <option value="38">38</option>
                <option value="39">39</option>
                <option value="40">40</option>
                <option value="41">41</option>
                <option value="41.5">41.5</option>
                <option value="42">42</option>
                <option value="42.5">42.5</option>
                <option value="43">43</option>
                <option value="43.5">43.5</option>
                <option value="44">44</option>
                <option value="45">45</option>
                <option value="46">46</option>
            </select>
        </label>
    
        <label>Verificare stoc:
            <select id="inp-verificare_stoc" class="form-select">
                <option value="da">in stoc</option>
                <option value="nu">lipsa stoc</option>
                <option value="toate">toate</option>
            </select>
        </label>
    
        <label>Select simplu pentru culori:
            <select id="inp-culori" class="form-select">
                <option value="toate">Toate</option>
                <option value="rosu">Rosu</option>
                <option value="albastru">Albastru</option>
                <option value="alb">Alb</option>
                <option value="negru">Negru</option>
                <option value="portocaliu">Gri</option>
            </select>
        </label>
    
        <label>Select simplu pentru categorie:
            <select id="inp-categorie" class="form-select">
                <option value="toate">Toate</option>
                <option value="incaltaminte fotbal">Incaltaminte Fotbal</option>
                <option value="incaltaminte baschet">Incaltaminte baschet</option>
                <option value="sneaker">Sneakers</option>
                <option value="pantofi">Pantofi</option>
            </select>
        </label>
    
        <p>
        <button id="filtrare">Filtreaza</button> 

        <button id="resetare">Reseteaza</button><br/>
        <button id="sortCrescNume">Sorteaza crescator dupa pret si nume</button>
        <button id="sortDescrescNume">Sorteaza descrescator dupa pret si nume</button>
        
        </p>
        
        <p id="p-suma">Apăsați Alt+"c" pentru suma preturilor produselor afișate. </p>
        <section id="produse">
            <h2>Produse</h2>
            <div class="grid-produse">
                <% for( let prod of locals.produse) { %>
                    <article class="produs" >
                        <h3 class="nume">Nume: <a href="/produs/<%-prod.id %>" ><span class="val-nume"><%- prod.nume%></span></a></h3>
                        <div class="info-prod">
                            <p class="pret">Pret: <span class="val-pret"><%- prod.pret%></span></p>
                            <p class="greutate">Greutate: <span class="val-greutate"><%- prod.greutate%></span></p>
                            <p class="gen">Gen: <span class="val-gen"><%- prod.gen_produs%></span></p>
                            <p class="marimi">Marimi: <span class="val-marimi"><%- prod.marimi%></span></p>
                            <p class="stock">Stoc:  <span class="val-stoc"><%- prod.stock%></span></p>
                            <p class="culori">culori:  <span class="val-culori"><%- prod.culoare%></span></p>
                        </div>
                        <p class="categorie">Categorie:<span class="val-categorie"><%- prod.categorie%></span></p>
                        <figure>
                            <a href="/produs/<%-prod.id %>" ><img src="/resurse/imagini/produse/<%- prod.imagine %>" style="width:50%;height:auto;" alt="[imagine <%- prod.nume %>]" /></a>
                        </figure>
                        <label class="selecteaza-cos">
                            Selectează:<br/>
                            <input type="checkbox" class="select-cos" value="<%-prod.id %>" autocomplete="off">
                        </label>
                    </article>
                <% }%>
            </div>
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>