<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="CKN Sneakers pentru cei mai fresh sneakersi">
        <meta name="keywords" content="adidasi, incaltaminte, incaltaminte sport, sneakers">
        
        <title>Cofetăria Dulcelind - home</title>
        <%- include("../fragmente/head") %>     
        <link href="/resurse/css/produs.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <section>
            <h2>Pagină produs</h2>
                <article id="art-produs">
                    <h3><span class="nume"><%- locals.prod.nume %></span></h3>
                    <p>Pret: <span class="pret"><%- locals.prod.pret %> </span></p>
                    <p>Descriere: <span class="descriere"><%- locals.prod.descriere %> </span></p>
                    <p>Culori: <span class="culori"><%- locals.prod.culori %> </span></p>
                    <p>Greutate: <span class="greutate"><%- locals.prod.greutate %> </span></p>
                    <p>Gen: <span class="gen"><%- locals.prod.gen_produs %> </span></p>
                    <p>Categorie: <span class="categorie"><%- locals.prod.categorie %> </span></p>
                    <p>Potriviti pentru toate sezoanele: <span class="stoc"><%- locals.prod.pt_stock %> </span></p>
                    <p>Data adăugare: <span class="data"><%- locals.prod.data_adaugare %> </span></p>
                    <figure class="imag-produs">
                        <img  src="/resurse/imagini/produse/<%- locals.prod.imagine %>" alt="[imagine <%- locals.prod.nume %>]" />
                    </figure>    
                </article>
            
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>